# Ignore the node_module
node_modules

# Ignore the entire bucket folder
bucket/*

# Ignore all files in public/image except default.png
public/image/*
!public/image/default.png

# Ignore all files in public/videos
public/videos/